/*.login-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}*/



html, body {
height: 100%;
margin: 0;
padding: 0;
}

.login-section {
background-color: #2e2e2e;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 2rem 1rem;
}

.custom-login-card  {
max-width: 1000px;
height: 500px; /* â† altura fija para evitar que cambie */
width: 100%;
margin: auto;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
border-radius: 10px;
overflow: hidden;
background-color: #3a3a3a;
color: white;
display: flex;
}

.custom-login-card > .row {
  height: 100%;
}

.custom-image-container {
  height: 100%;
}
.custom-login-img {
object-fit: cover;
width: 100%;
height: 100%;
}

.custom-form-body {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}

.validation-message {
min-height: 20px;
font-size: 0.875rem;
}

.invisible {
visibility: hidden;
}

.styled-input {
  background-color: transparent;
  border: 1px solid #ccc;
  color: white;
  border-radius: 4px;
  padding: 1rem 0.75rem 0.25rem;
  height: 3.5rem;
}

.styled-label {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  color: #ccc;
  font-size: 0.85rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.styled-input:focus + .styled-label,
.styled-input:not(:placeholder-shown) + .styled-label {
  top: -0.6rem;
  left: 0.6rem;
  background-color: #3a3a3a;
  padding: 0 0.3rem;
  font-size: 0.75rem;
  color: #ffffff;
}

.styled-input:focus {
  border-color: #ffffff;
  outline: none;
}

