<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Sistema de Facturación</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ms-auto d-flex align-items-center">
        <!-- Botón para entrar/salir de modo admin -->
        <ng-container *ngIf="!isAdmin; else adminBlock">
          <button class="btn btn-outline-warning me-2" (click)="showAdminInput = !showAdminInput">Soy Administrador</button>
          <div *ngIf="showAdminInput" class="d-inline-block ms-2">
            <input type="password" [(ngModel)]="adminPassword" placeholder="Contraseña admin" class="form-control form-control-sm d-inline-block" style="width: 150px;">
            <button class="btn btn-sm btn-dark ms-1" (click)="loginAsAdmin()">Ingresar</button>
            <span *ngIf="adminError" class="text-danger ms-2">{{adminError}}</span>
          </div>
        </ng-container>
        <ng-template #adminBlock>
          <button class="btn btn-outline-danger me-2" (click)="logoutAdmin()">Salir modo admin</button>
        </ng-template>
        <button class="btn btn-outline-light me-2" (click)="goBack()">Volver atrás</button>
        <button class="btn btn-outline-light" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>