<h3>{{ product?.id ? 'Editar Producto' : 'Agregar Producto' }}</h3>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input formControlName="nombre" required />
  </label>
  <label>
    Descripción:
    <input formControlName="descripcion" />
  </label>
  <label>
    Precio:
    <input type="number" formControlName="precio" required min="0" />
  </label>
  <label>
    Categoría:
    <input formControlName="categoria" />
  </label>
  <label>
    URL de Imagen:
    <input formControlName="imagen" />
  </label>
  <button type="submit" [disabled]="productForm.invalid">
    {{ product?.id ? 'Actualizar' : 'Agregar' }}
  </button>
  <button type="button" (click)="onCancel()">Cancelar</button>
</form>

<hr>

<h4>Productos existentes</h4>
<ul>
  <li *ngFor="let p of products">
    {{ p.nombre }} - {{ p.categoria }} - ${{ p.precio }}
  </li>
</ul>