<div class="container mt-4">
  <h2>Bienvenido al Sistema de Facturación</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <button routerLink="/productos" class="btn btn-primary w-100">📦 Gestión de Productos</button>
    </div>
    <div class="col-md-4 mb-3">
      <button routerLink="/factura" class="btn btn-success w-100">🧾 Crear Factura</button>
    </div>
    <div class="col-md-4 mb-3">
      <button routerLink="/cotizacion" class="btn btn-info w-100">💵 Ver Cotización USD</button>
    </div>
  </div>
</div>